<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diapyr</title>
	<link rel="stylesheet" href="{{ static('styles/index.css') }}">
    <link rel="stylesheet" href="{{ static('styles/template.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
<header>
	<nav>
		<ul>
			<li><a href="/diapyr_debat/">Créer un débat</a></li>
			<li><a href="/diapyr_join_debat/">Rejoindre un débat</a></li>
		</ul>
	</nav>	
</header>

<h1>Bienvenue dans Diapyr !</h1>

<main>
	<div class="Main-link">
		<h2> Liste des débats</h2><br>
		<ul class="debate-list">
			{% if (debat|length) == 0 %}
					<p>Aucun débat n'a encore été créé.</p>
			{% endif %}
			{% for deb in debat%}
				<li class="debate-item">
					<strong>{{ deb.title}}</strong>
					Description: {{	deb.description }}
					Date de fin: {{ deb.end_date }}
				</li>
			{% endfor %}
		</ul>
	</div>
</main>
<!-- Eventuelle footer quand tu aurais appris à le possitionner correctement 
<footer>
		<p>&copy; 2025 Association sportive de Galilée. Tous droits réservés.</p>
</footer> 
-->

</body>
</html>