{% extends "zerver/diapyr_base.html" %}
        
{% block content %}

<div class="Main-link">
    <h2>Détails du débat : {{ debat.title }}</h2>
    <p>Description : {{ debat.description }}</p>
    <p>Date de fin d'inscription : {{ debat.subscription_end_date.strftime('%d/%m/%Y %H:%M') }}</p>

    <h3>Participants :</h3>
    <ul class="participant-list">
        {% for participant in participants %}
            <li>{{ participant.pseudo }} - {{ participant.is_register }}</li>
        {% else %}
            <li>Aucun participant pour ce débat.</li>
        {% endfor %}
    </ul>
  

{% if request.user.is_authenticated %}
    <div class="Main-link">
        <a href="{{ url('diapyr_my_debates') }}">Retour à la liste de mes débats</a>
    </div>
{% endif %}

{% endblock content %}