{% extends "zerver/diapyr_base.html" %}


{% block content %}
<main>
	<h1>Bienvenue dans Diapyr !</h1>
	<div class="Main-link">
		<h2> Liste des débats</h2><br>
		<ul class="debate-list">
			{% if (debat|length) == 0 %}
					<p>Aucun débat n'a encore été créé.</p>
			{% endif %}
			{% for deb in debat%}
				{% if not deb.is_archived %}
					<li class="debate-item">
						<strong>{{ deb.title}} - </strong>
						Description: {{	deb.description }}
						Date de debut: {{  deb.subscription_end_date.strftime('%d/%m/%Y %H:%M')  }}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</main>
{% endblock content %}

<!-- Eventuelle footer quand tu aurais appris à le possitionner correctement 
<footer>
</footer> 
-->

</body>
</html>