{% extends "zerver/diapyr_base.html" %}
        
{% block content %}


<h2 class="debat-detail-title"> {{ debat.title }}</h2>

<div class="debat-detail-main">
    <div class="debat-detail-options">
        <button type="button" class="btn btn-primary">Informations du débat</button>
        <button type="button" class="btn btn-secondary">Participants</button>
        <button type="button" class="btn btn-third">Choisir les paramètres de la phase 2</button>
    </div>

    <div class="debat-detail-info">
        <p>Description : {{ debat.description }}</p>
        <p>Date de fin d'inscription : {{ debat.subscription_end_date.strftime('%d/%m/%Y %H:%M') }}</p>

        <h3 class="participant-title">Participants :</h3>
        <table class="participant-list">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Représentant</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>
                            {% if participant.is_representative %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun participant pour ce débat.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% if request.user.is_authenticated %}
    <div class="Main-link">
        <a href="{{ url('diapyr_my_debates') }}">Retour à la liste de mes débats</a>
    </div>
{% endif %}

{% endblock content %}