<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription au Débat</title>

    <link rel="stylesheet" type="text/css" href="{{ static('styles/formulaire_debat.css') }}">
</head>
<body>
    <h1>Créer un débat</h1>
    
    <form method="POST" action="{{( url ('diapyr_debat_form'))}}">

       
        <h2> Information du débat </h2>

        <div class="form-group">
            <label for="nom">Nom du débat</label>
            <input type="text" name="nom" id="nom_debat" placeholder="Nom du débat">
        </div>  

        <div class="form-group">
            <label for="nb_max">Nombre de participants maximal dans un groupe</label>
            <input type="text" id="nb_max" name="nb_max" required>
        </div>

        <div class="form-group">
            <label for="Date_fin">Temps en minutes avant le début du débat</label>
            <input type="text" name="Date_fin" id="Date_fin" placeholder="Temps avant début">
        </div>

        <div class="form-group">
            <label for="time_step">Durée des phases</label>
            <input type="text" id="time_step" name="time_step" required>
        </div>

         <!-- Critères personnalisés facultatifs 
            <div class="form-group criteres">
            <h3>Critères personnalisés (facultatif)</h3>
            <label><input type="checkbox" name="criteres[]" value="age"> Âge</label>
            <label><input type="checkbox" name="criteres[]" value="profession"> Profession</label>
            <label><input type="checkbox" name="criteres[]" value="etudes"> Niveau d’études</label>
            <label><input type="checkbox" name="criteres[]" value="domaine"> Domaine</label>
            <label><input type="checkbox" name="criteres[]" value="experience"> Expérience en débat</label>
        </div>
        -->

        <div class="form-group">
            <label for="description">Description du débat</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Décrivez le sujet du débat ici..."></textarea>
        </div>

        <button type="submit">Créer le débat</button>
    </form>

</body>
</html>
