.debat-detail-title {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.debat-detail-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    align-content: flex-start;
    justify-content: space-between;
}

.debat-detail-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.debat-detail-options button {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    box-sizing: content-box;
    border: 2px solid #0066cc;
    border-radius: 5px;
    background-color: #0066cc;
    text-align: left;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.debat-detail-info {
    display: block;
}

.debat-detail-participants {
    display: none

}

.participant-title {
    margin-top: 10px;
}

.debat-detail-output {
    flex: 2;
    margin-left: 20px;  
    margin-right: 70px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.participant-list {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.participant-list  {
width: 100%;
border-collapse: collapse;
margin-top: 10px;

}

.participant-list th,
.participant-list td {
    border: 1px solid #0066cc;
    padding: 12px 8px;
    text-align: center;
    background-color: #e6f2ff;
    font-size: 1em;
}

.participant-list th {
    background-color: #0066cc;
    color: white;
    font-weight: 600;
}

.participant-list tr:nth-child(even) td {
    background-color: #d9eaff;
}

.participant-list tr:hover td {
    background-color: #b3d7ff;
}

.debat-detail-params {
    display: none;
    margin-top: 20px;
}
.debat-detail-params label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}